@import "tailwindcss";

@theme {
  --color-primary: #F4EBDD;
  --color-secondary: #E8DCCB;
  --color-accent: #6E1F2B;
  --color-background: #2B211C;
}

@layer base {
  * { box-sizing: border-box; }
  body { margin: 0; }
}
